<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTuberアプリ作成</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <h1>振徳書店</h1>
    <h2>今月の新刊一覧</h2>
        {% if books == [] %}
            <p>今月の新刊情報はありません</p>
        {% else %}
            <table class="table table-striped table-hover d-flex justify-content-center">
                <tr class="table-dark">
                    <th>ID</th>
                    <th>入荷日</th>
                    <th>タイトル</th>
                    <th>金額</th>
                </tr>
                {% for book in books %}
                    <tr> 
                        <td>{{book.id}}</td>
                        <td>{{book.arrival_day}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.price}} 円</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
</body>
</html>